.toolbar {
   display: grid;
   height: 70%;
   width: 4%;
   background-color: #2E2E2E;
   
   border-radius: 30px;
   border-color: transparent;
   border: none;
   
   justify-content: center;
   
   position: absolute;
   top: 10%;
   left: 1%;

   padding: 7px 1px;
}

.toolbar button {
   height: 35px;
   width: 35px;
   
   background-color: transparent;
   border: none;
   margin: 5px 0px;
   justify-content: center;
   
   padding: 5px;
}
.toolbar button img {
   height: 90%;
   width: 90%;
   
   margin: 0px;
   padding: 0px;
}

.toolbar button:hover {
   border-radius: 5px;
   border: transparent;
   background-color: #171717;
   cursor: pointer;
}



.zoom-bar {
   display: flex;
   align-items: center;
   
   justify-content: center;
   
   position: absolute;
   width: 8%;
   height: 5%;
   
   left: 43%;
   top: 2%;
   
   background: #2E2E2E;
   border-radius: 30px;

   padding: 1px 2px;
}
.zoom-bar button {
   height: 80%;
   width: 25%;
   
   background-color: transparent;
   border: none;
   margin: 0px 2px;
   justify-content: center;
   
   padding: 4px;
}
.zoom-bar button:hover {
   border-radius: 5px;
   border: transparent;
   background-color: #171717;
   cursor: pointer;
}
.zoom-bar button img {
   height: 100%;
   width: 100%;

   margin: 0px;
   padding: 0px;
}