
.Fill {
    display: inline-flex;
    gap: 10px;
    /* background-color: aqua; */
    padding: 10px;
    position: relative;
}

.Fill .fill-lable{
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    color: var(--button-color);
}

.Fill .fill-color {
    width: 60px;
    height: 30px;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.Fill .color-picker {
    position: absolute;
    top: 0px;
    right: 165px;
    z-index: 1000;
}