.Size {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    /* background-color: green; */
    align-items: center;
    width: fit-content;
}

.Size label {
    padding-right: 5px;
    font-size: 30px;
    font-family: Roboto;
    font-weight: bold;
    color: var(--button-color);
}

.Size input {
    border-radius: 5px;
    width: 70px;
    height: fit-content;
    text-align: center;
}

.Size .line {
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}

.Size .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-size: 20px;
    border-radius: 10px;
    color: var(--button-color);
    background-color: transparent;
}
.ci--link-horizontal-off {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23ababab' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 12h4m0 0L8 8m4 4l8 8M15 8h2a4 4 0 0 1 2.645 7M9 16H7a4 4 0 0 1 0-8h1m0 0L4 4'/%3E%3C/svg%3E");
}
.ci--link-horizontal {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23ababab' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 12h8m-1-4h2a4 4 0 0 1 0 8h-2M9 8H7a4 4 0 1 0 0 8h2'/%3E%3C/svg%3E");
}