.Stroke {
    display: inline-flex;
    gap: 10px;
    /* background-color: green; */
    padding: 10px;
    position: relative;
}

.Stroke .fill-lable{
    align-self: center;
    padding-right: 5px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    color: var(--button-color);
}

.Stroke input {
    border-radius: 5px;
    width: 60px;
    height: fit-content;
    text-align: center;
}

.Stroke .fill-color {
    width: 60px;
    height: 30px;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.Stroke .color-picker {
    position: absolute;
    top: 0px;
    right: 180px;
    z-index: 1000;
}

.Stroke .color-input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}